**/*.env
**/.env
**/.terraform/
**/.terraform.lock.hcl
## Compiled files
**/terraform.tfstate
*/**/terraform.tfstate.backup
.plugin-cache/*
## Ignore Mac .DS_Store files
.DS_Store
deprecated-*
kubeconfig-*

# *.tfstate.lock.info
# Ignored Terraform files
*gitignore*.tf

# *.log
error.log

## SSH Keys
*.pem

## Backup files
*.bak

## Sentinel runtime directory
.sentinel

# IDES
.idea/
.vscode/
