pandas
requests
python-dotenv
numpy
scipy
statsmodels
openpyxl
boto3
diagrams
ipykernel
ipywidgets
jupyterlab-git
matplotlib
seaborn
plotly
vizro
gunicorn
prettytable
ydata-profiling
scikit-learn
openai