pandas
numpy
scipy
statsmodels
openpyxl
boto3
diagrams
ipykernel
ipywidgets
jupyter
jupyterlab-git
requests
matplotlib
seaborn
dash
plotly
vizro
gunicorn
python-dotenv
prettytable
ydata-profiling
scikit-learn
mlflow
openai
pyspark